*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(8, 39, 51), black);
    background-repeat: no-repeat;
}

.parent_container{
    display: flex;
    justify-content: center;
}

.main_container{
    text-align: center;
    position: relative;
    border: 2px solid rgb(42, 55, 170);
    border-radius: 1rem;
    margin-top: 200px;
    animation-name: init_main_container;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes init_main_container{
    from{
        width: 1px;
        height: 1px;
    }to{
        width: 400px;
        height: 500px;
    }
}

.logo_container{
    display: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes init_logo_container{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}